<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-col size-md="6">
      <ion-img src="/assets/icon/logo-duoc.png" class="logo ion-margin-left"></ion-img>
    </ion-col>
    <ion-col size-md="12">
      <div class="ion-text-center">Sistema de Asistencia DUOCUC</div>
    </ion-col>
    <ion-col size-md="6"></ion-col>
  </ion-toolbar>
</ion-header>
<br>


<ion-content>
  <img src="/assets/img/Logo_DuocUC.svg.png" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; WIDTH:100%; height: 100%;">
  <div class="centrado-vertical">
    <ion-card-content class="login ion-fade-in-up ion-animatable">
      <br>
      <ion-title>
 
 

        <h2>Paso 2: Responde la siguiente pregunta</h2>
        <br>
        <br>
        <ion-text class="ion-text-center"><h2> {{ nombre }}</h2></ion-text>
        <br>
        <ion-text class="ion-text-center"><h2>¿{{preguntaSecreta}}?</h2></ion-text> 
 
      </ion-title>
      <ion-item class="ion-margin-top">
        <ion-input label="Ingrese Respuesta: " labelplacement="floating" [(ngModel)]="respuestaSecreta"></ion-input>
      </ion-item>
    
      <ion-row>
        <ion-col size="12">
          <br>
          <ion-button shape="block" (click)="recuperarContrasena()">Recuperar Contraseña</ion-button>
          <br>
          <ion-router-link routerLink="/ingreso" class="centrar-en-pantalla">Iniciar sesión</ion-router-link>
        </ion-col>
      </ion-row> 
    </ion-card-content>
  </div>
</ion-content>
